@import '../../../assets/palette'
@import '../../../utils/mediaQuery'

.formSection

    .title
        color: $primaryBlue
        font-weight: 600
        font-size: 32px

    .description
        font-size: 14px
        color: $neutralGray