@import '../../assets/palette'
@import '../../utils/mediaQuery'

.formSteps
    background-image: url("../../assets/images/bg-sidebar-desktop.svg")
    border-radius: 20px
    padding: 16px
    min-width: 240px
    max-width: 240px
    height: 535px
    align-self: center
    align-items: center

    @include mobile
        position: fixed
        z-index: -1
        background-image: url("../../assets/images/bg-sidebar-mobile.svg")
        background-size: contain
        background-repeat: no-repeat
        width: 100vw !important
        height: 256px !important
        margin: 0
        display: flex
        justify-content: space-between
        border-radius: 0px !important
