@import '../../assets/palette'
@import '../../utils/mediaQuery'

.formSteps
    background-image: url("../../assets/images/bg-sidebar-desktop.svg")
    border-radius: 20px
    padding: 16px
    width: 240px
    height: 535px
    align-self: center
    align-items: center