@import '../../utils/mediaQuery'
@import '../../assets/palette'

.submitSection
    display: flex
    justify-content: right
    
    @include mobile
        width: 100vw
        position: fixed
        bottom: 0
        padding-block: 8px
        padding-right: 20vw !important
        background-color: $white
        margin-right: 10vw !important
