@import '../../utils/mediaQuery'
@import '../../assets/palette'

.submitSection
    display: flex
    justify-content: right !important
    
    @include mobile
        width: 100vw
        position: fixed
        bottom: 0
        padding-block: 8px
        background-color: $white
        

