@import '../../utils/mediaQuery'
@import '../../assets/palette'

.formSection
    
    .title
        color: $primaryBlue
        font-weight: 600
        font-size: 32px

    .description
        font-size: 14px
        color: $neutralGray

    .formLabel
        font-size: 12px
