@import '../../../utils/mediaQuery'
@import '../../../assets/palette'

.stepButton
    .stepLabel
        color: $neutralGray
        font-weight: 700
    .stepContent
        color: $neutralAlabaster
        font-weight: 700